.main-html, .main-body {
    margin: 0;
    padding: 0;
    background: #FF7F66;
  }
  
  #globe {
    cursor: move;  
  }
  
  #current {
    position: absolute;
    color: white;
    font-family: sans-serif;
    margin-left: 4%;
    margin-top: 4%;
  }

  .country-body {
	background: #FF7F66;
	perspective: 500px;
	overflow-x: hidden;
    display: flex;

}

figure {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;

	$photos: 10;

	@for $i from 1 through $photos {
		&:nth-child(#{$i}) {
			img {
				$rotation: (($i - 1)/ ($photos - 1)) - 0.5;
				transform: scale(0.6) rotate($rotation * 25deg);
			}
		}
	}

	img {
		width: 100vmin;
		height: 100vmin;
		border-radius: 3px;
	}
}

country-h1{
    position: absolute;
    top: 200;
    left: 500;
    color: white;
    z-index: 500;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: fit-content;
}

/*section{
    width: 100vw;
    height: 100vh;
}*/